<a href="https://colab.research.google.com/github/MAboElFottouh/Predicting-disaster-tweets/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [52]:
import nltk
import re
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation

Load the dataset

In [35]:
train = pd.read_csv("/content/drive/MyDrive/train.csv")
test = pd.read_csv("/content/drive/MyDrive/test.csv")

Check head and info of the data

In [36]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [37]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

Is there a missing data

In [38]:
train.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [39]:
test.isna().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

How many data in each class

In [40]:
print('shape of train data : ',train.shape)
print('shape of test  data : ',test.shape)

shape of train data :  (7613, 5)
shape of test  data :  (3263, 4)

Get the top 15 locations of the data

In [41]:
train['location'].value_counts()[:15] #view 0 to 14

USA                104
New York            71
United States       50
London              45
Canada              29
Nigeria             28
UK                  27
Los Angeles, CA     26
India               24
Mumbai              22
Washington, DC      21
Kenya               20
Worldwide           19
Australia           18
Chicago, IL         18
Name: location, dtype: int64

Get the top 15 keyword in the data

In [42]:
train['keyword'].value_counts()[:15] #view 0 to 14

fatalities     45
deluge         42
armageddon     42
sinking        41
damage         41
harm           41
body%20bags    41
outbreak       40
evacuate       40
fear           40
collided       40
siren          40
twister        40
windstorm      40
sinkhole       39
Name: keyword, dtype: int64

drop id ,location ,keyword columns

In [43]:
train.drop('location',axis=1, inplace= True)
train.drop('keyword',axis=1, inplace= True)
train.drop('id',axis=1, inplace= True)

In [44]:
test.drop('location',axis=1, inplace= True)
test.drop('keyword',axis=1, inplace= True)
test.drop('id',axis=1, inplace= True)

In [48]:
target = train.drop('text',axis=1) # split column target to work in text only now

In [51]:
train.drop('target',axis=1, inplace= True)

In [53]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.